<%= form_with model: [ @article, @article.comments.build ] do |form| %>

  <p>
    <%= form.label :body %><br>
    <%= form.text_area :body %>
  </p>

  <%= form.hidden_field :status, :value => 'public' %>

  <p>
    <%= form.submit %>
  </p>
<% end %>
