<h1>Articles 
<% if policy(Article).archived? %>
| <%= link_to 'Archive', archived_articles_path%> 
| <%= link_to "New Article", new_article_path %>
<% end %>
</h1>

<div>
Our blog has <%= Article.public_count %> articles and counting!
</div>

<br />

<%= form_with method: :get do |form| %>
  <%= form.label :query, "Search for:" %>
  <%= form.text_field :query %>
  <%= form.submit "Search" %>
<% end %>

<%= form_with method: :get do |form| %>
  <%= form.label :tag_query, "Filter by tag:" %>
  <%= form.text_field :tag_query %>
  <%= form.submit "Filter" %>
<% end %>
 
<%= render 'articles', articles: @articles %>


