<div class="p-5 text-center bg-light">
  <h1 class="mb-3" ><%= @article.title.upcase %></h1>
  <h3 class="Roboto"> Author: <%= render 'username', u: @article.author %></h3>
  <h4 class="Roboto"> #<%= @article.tag %> </h4>

  <h5 class="Roboto">
    <div>
      <% if policy(@article).update? %>
        <%= link_to "Edit", edit_article_path(@article) %> |
        <%= link_to "Delete", article_path(@article),
                  method: :delete,
                  data: { confirm: "Are you sure?" } %> |
      <% end %>
      <%= link_to "Back", root_path %>
    </div>
  </h5>

</div>


<div style="text-align: center; margin-bottom: 20px">
  <% if @article.top_photo.attached?%>
    <img class="article-img" src="<%= url_for(@article.top_photo)%>">
  <% end %>
</div>


<div class="Roboto" style="width: 60%; margin: auto; text-align: left;">
  <%= simple_format(@article.body , html_options={}, options={}) %>
</div>

<div style="width: 60%; margin: auto">
  <h2>Add a comment:</h2>
</div>

<%= render "comments/form" %>


<div style="width: 60%; margin: auto">
  <h2>Comments</h2>
</div>

<%= render @article.comments %>
