
<div> 
  <% if policy(@article).update? %>
      <%= link_to "Edit", edit_article_path(@article) %> |
      <%= link_to "Destroy", article_path(@article),
                  method: :delete,
                  data: { confirm: "Are you sure?" } %> |
    <% end %>
    <%= link_to "Back", root_path %>
</div>

<hr />
<h1><%= @article.title %></h1>
<p><small><strong>Author:</strong> <%= @article.author.username %> </small> </p>
<p><%= @article.body %></p>
<hr />

<h2>Add a comment:</h2>
<%= render "comments/form" %>


<h2>Comments</h2>
<%= render @article.comments %>
